<div class="main">
    <h1>Andrei Parrent</h1>
    <input type="checkbox" id="scrollI">
    <label class="menu" id="scrollMenu" for="scrollI"></label>
    <label class="wedge" id="wedgeh" for="scrollI"></label>
    <label class="wedge" id="wedgep" for="scrollI"></label>
    <label class="wedge" id="wedged" for="scrollI"></label>
    <input type="checkbox" id="mainI">
    <label class="menu" id="menuTriangle" for="mainI"></label>
    <label class="menu" id="mainMenu" for="mainI"></label>
    <label id="m_design" for="mainI">D<br>e<br>s<br>i<br>g<br>n</label>
    <label id="m_photo" for="mainI">P<br>h<br>o<br>t<br>o<br>g<br>r<br>a<br>p<br>h<br>y</label>
    <!--TODO: these can be their own check boxes-->
    <input type="checkbox" id="fansI">
    <label class="menu" id="fansMenu" for="fansI"></label>
    <label id="fansMenu" for="fansI">Add Rows here for socials and resume</label>
    <label id="fansMenu" for="fansI">Use text descriptor for each or somehow dictate resume</label>
    <label id="fansMenu" for="fansI">Make bottom unsure and menu</label>
    <label id="fansMenu" for="fansI"><br>remove elements for speed</label>
    <label id="fansMenu" for="fansI">possibly make previews for design pages</label>
</div>